@import "../../config.scss";

.pagination {
  padding: 1rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  &__el {
    transition: 0.2s;
    color: $primary-clr;
    background-color: inherit;
    border-radius: 13px;
    padding: 5px 10px;
    border: 1px solid #383748;
    display: flex;
    align-items: center;
    justify-content: center;
    &:disabled path {
      fill: grey;
    }
  }
}
