@import "../../config.scss";

.selected-page {
  padding-top: 1.5rem;
}
.selected-page-nav {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 60px;
  cursor: pointer;
  &:hover &__text {
    color: $primary-clr;
  }
  &__text {
    transition: 0.2s;
  }
}
.selected-page-tools {
  display: flex;
  justify-content: space-between;
}
.selected-page-tools-main {
  display: flex;
  align-items: center;
  gap: 20px;
}
.selected-page-info {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  &__parameters {
    background-color: $secondary-clr;
    border-radius: 10px;
    max-height: 210px;
    max-width: 280px;
    padding: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__parameters-param {
    color: $primary-clr;
  }
  &__parameters-param span {
    color: #fff;
  }
}

@media (max-width: 1080px) {
  .selected-page-info {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    &__parameters {
      align-self: flex-start;
    }
  }
}

@media (max-width: 380px) {
  .selected-page-tools {
    align-items: flex-start;
  }
  .selected-page-tools-main {
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
  }
}
