.main-footer {
  padding-top: 2rem;
  &__inner {
    display: flex;
    justify-content: space-between;
    min-height: 92px;
    align-items: center;
    border-top: 1px solid #dadada;
  }
  &__copywriting {
    color: #8d8e97;
  }
}
