@import "../../config.scss";

.main-header {
  padding-top: 10px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bag {
    background-color: inherit;
  }
}

.main-header-logo {
  display: flex;
  align-items: center;
  background-color: inherit;
  color: #fff;
  &__name {
    font-size: 25px;
  }
}

.main-header-top-coins {
  display: flex;
  list-style-type: none;
  gap: 15px;
  &__coin {
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      color: $primary-clr;
    }
  }
}

@media (max-width: 860px) {
  .main-header {
    &__bag {
      display: none;
    }
  }
  .main-header-logo {
    &__name {
      font-size: 18px;
    }
  }
  .main-header-top-coins {
    display: none;
  }
}
